/.idea
###> symfony/framework-bundle ###
/.env
/.env.local
/var/
/vendor/
###< symfony/framework-bundle ###
###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

/src/uploads
config/secrets/prod/prod.decrypt.private.php

/public/.htaccess
###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###
